footer {
    font-family: 'Roboto Thin';
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transLateX(-50%) transLateY(-50%);
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #0b0b0b;
    font-family: Source Sans Pro;
    font-weight: lighter;
    font-size: 25px;
    padding: 0 20px;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}
